.fast-filters-container {

}

.fast-filters-container fieldset.fast-filters-pane {
  margin: 1%;
  float: left;
  box-sizing: border-box;
}

.fast-filters-container fieldset.fast-filters-pane * {
  width: 100%;
  box-sizing: border-box;
}

.fast-filters-container fieldset.fast-filters-pane legend {
  width: auto;
}

.fast-filters-container .form-actions {
  clear: both;
  margin: 1em -1em -1em -1em;
  padding: 1em 1em 0 1em;
}

/**
 * Columns support.
 */
.fast-filters-container.fast-filters-container-1 fieldset.fast-filters-pane {
  width: 98%;
}

.fast-filters-container.fast-filters-container-2 fieldset.fast-filters-pane {
  width: 48%;
}
.fast-filters-container.fast-filters-container-2 fieldset.fast-filters-pane:nth-child(2n+1) {
  clear: left;
}

.fast-filters-container.fast-filters-container-3 fieldset.fast-filters-pane {
  width: 31%;
}
.fast-filters-container.fast-filters-container-3 fieldset.fast-filters-pane:nth-child(3n+1) {
  clear: left;
}

.fast-filters-container.fast-filters-container-4 fieldset.fast-filters-pane {
  width: 23%;
}
.fast-filters-container.fast-filters-container-4 fieldset.fast-filters-pane:nth-child(4n+1) {
  clear: left;
}

.fast-filters-container.fast-filters-container-5 fieldset.fast-filters-pane {
  width: 18%;
}
.fast-filters-container.fast-filters-container-5 fieldset.fast-filters-pane:nth-child(5n+1) {
  clear: left;
}

.fast-filters-container.fast-filters-container-6 fieldset.fast-filters-pane {
  width: 14%;
}
.fast-filters-container.fast-filters-container-6 fieldset.fast-filters-pane:nth-child(6n+1) {
  clear: left;
}

.fast-filters-container.fast-filters-container-7 fieldset.fast-filters-pane {
  width: 12%;
}
.fast-filters-container.fast-filters-container-7 fieldset.fast-filters-pane:nth-child(7n+1) {
  clear: left;
}

.fast-filters-container.fast-filters-container-8 fieldset.fast-filters-pane {
  width: 10%;
}
.fast-filters-container.fast-filters-container-8 fieldset.fast-filters-pane:nth-child(8n+1) {
  clear: left;
}
